<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Preferências</title></head>
<body>
    <h1>Escolha os seus ingredientes</h1>
    <form method="POST" action="/choose-recipe">
        <label>Ingredientes que gosta:</label><br>
        <input type="text" name="liked_ingredients"><br><br>

        <label>Ingredientes que não gosta:</label><br>
        <input type="text" name="disliked_ingredients"><br><br>

        <label>Tipo de refeição:</label><br>
        <select name="meal_type">
            <option value="breakfast">Pequeno Almoço</option>
            <option value="lunch">Almoço</option>
            <option value="dinner">Jantar</option>
        </select><br><br>

        <button type="submit">Procurar Receitas</button>
    </form>
</body>
</html>
