<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Recipe App</title>
</head>
<body>
    <h1>Recipe App</h1>
    <form method="POST" action="/">
        <input type="text" name="search_query" placeholder="Search for recipes">
        <input type="submit" value="Search">
        <a href="/home" class="home-button">Home</a>
    </form>

    {% if recipes%}
    <h2>Results for recipe</h2>
    <ul>
        {% for recipes in recipe %}
        <li>
            <h3 class="recipe-title">{{ recipe.title}}</h3>
            {% if recipe.image %}
            <img src="{{ recipe.image}}" alt="{{ recipe.title }}">
            {% endif %}
            <a href="{{ url_for('view.recipe', recipe_id=recipe.id, search_query=search) }}" class="">View</a>

        </li>
        {% endfor %}
    </ul>
    <!-- If no recipes found-->
     {% else %}
     <p>No recipes found.</p>
     {% endif %}
</body>
</html>